* {
	padding: 0;
	margin: 0;
} 

body {
	margin:0;
	padding: 0;
	background: #8EC3E2;
	color: #444;
	font: 0.75em Tahoma, sans-serif;
	line-height: 1.65em;
}

img {
	border: 0;
}

a{ 
	color: #173D7F; 
	text-decoration: none; 
}

a:hover {  
	color: #000; 
}

#content {
	width: 1000px;
	height: 550px;
	margin: 20px auto;
	padding: 10px;
	background: #FFF;
	background-image: url(../img/caixas-empilhadas2.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
}

#header {
	text-align: center;
	background: #212F54;
	height: 50px;
}

#header h1 { 
	font-size: 3em;
	letter-spacing: -1px;
	padding: 15px 0 0 10px;
	color: #8EC3E2;
}

#header h2 {
	font-size: 1.25em;
	color: white;
	padding: 0 0 0 10px;
}

#navigation {
	background: #6D80A8;
	height: 46px;
	line-height: 30px;
}

#navigation li {
	float:left;
	list-style-type: none;
	font-family: Lucida, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 40px;
}

#navigation li a {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #000308;
	letter-spacing: 1px;
}

#navigation li a:hover {
	background: #8EC3E2;
	color: #222;
	text-decoration: none;
}

#footer { 
	position: absolute;
	bottom: 0;
	background-color: #212F54;
	margin-top: 10px;
	height: 20px;
	width: 100%;
	line-height: 20px;
	text-align: center;
}

#footer a {  
	color: #C1FCFF; 
	text-decoration: none; 
}

#footer  a:hover { 
	color: #777; 
}

#footer h3 {
	font: 1em;
	font-variant: small-caps;
	color: #C1FCFF;
}

#erro { 
	
	width: 180px;
}

.form {
	margin-left: 100px;
}

label.error { 
	display: block; 
	width: 200px;
	color: red; 
	margin: 0 .5em 0 0; 
	vertical-align: top; 
	font-size: 10px 
}
