* {
	padding: 0;
	margin: 0;
} 

body {
	margin:0;
	padding: 0;
	background: #777;
	color: #444;
	font: 0.75em Verdana, sans-serif;
	line-height: 1.65em;
}

img {
	border: 0;
}

a{ 
	color: #173D7F; 
	text-decoration: none; 
}

a:hover {  
	color: #000; 
}

#content {
	width: 1000px;
	height: auto;
	margin: 20px auto;
	padding: 10px;
	background: #FFF;
	background-image: url(../img/caixas-empilhadas2.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
}

#header {
	text-align: center;
	height: 60px;
}

#header h1 { 
	font-size: 3em;
	font-variant: small-caps;
	padding: 15px 0 0 10px;
	color: #6D80A8;
}

#navigation {
	background: #6D80A8;
	height: 46px;
	line-height: 30px;
	border-radius: 5px;
	text-align: center;
}

#navigation li {
	float:left;
	list-style-type: none;
	font-family: Lucida, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 40px;
}

#navigation li a {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #000308;
	letter-spacing: 1px;
}

#navigation li a:hover {
	background: #8EC3E2;
	color: #222;
	text-decoration: none;
	border-radius: 5px;
}

#footer { 
	background-color: #212F54;
	margin-top: 10px;
	border-radius: 15px;
	width: 100%;
	line-height: 20px;
	text-align: center;
}

#footer h3 {
	font: 1em;
	font-variant: small-caps;
	color: #FFF;
}

#introducao {
	margin-left: 100px;
	height: 300px;
	width: 700px;
}

#erro { 
	width: 180px;
}

.form {
	margin-left: 100px;
}

label.error { 
	display: block; 
	width: 200px;
	color: red; 
	margin: 0 .5em 0 0; 
	vertical-align: top; 
	font-size: 10px 
}

#cabecalho_nota {
	position: relative;
	float: left;
	border-radius: 5px;
	background: #EEE;
	width: 360px;
	padding: 10px;
}

#cabecalho_nota h2 {
	color: #555;
}

#item_nota {
	position: relative;
	float: right;
	width: 320px;
	padding: 10px;
	background: #BBB;
	right: 100px;
	border-radius: 5px;
	margin-bottom: 10px;
}