/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #FFF;
	margin:10px 0px 15px;
	font-size: 1em;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #4682B4; /* Steel Blue */
	font-size: 1em;
	padding: 4px;
	text-align: center;
}
table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #EEE;
	vertical-align: top;
	text-align: center;
}
table.tablesorter tbody tr.odd td {
	background-color:#CFCFCF;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #4682B4; /* Steel Blue */
}
